$index: calc(1vw + 1vh);

$color-basic: #191C1F; 
$color-white: #ffffff;
$color-grey: #707070;
$color-accent: #B4A774;

$transition: .25s;
$shadow: 0 2px 10px rgba(black, .25);
$width: 100svw;
$height: 100svh;

$header-height: 8svh;

