@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  width: $width;
  height: 8svh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100
}
.logo__wrapper {
  width: min-content;
  height: min-content;
}
.logo {
  width: 120px;
}
@media (width < 400px) {
  .logo {
    display: none;    
  } 
}
.nav {
  display: flex;
  gap: calc($index * 2);
  align-items: center;
  justify-content: center;
}
.sign__wrapper {
  padding-inline: calc($index * 2);
}
.sign {
  @include Button();
}

